body {
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px;
  gap: 20px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blue {
  color: #3498db;
}

.recipe-slide {
  display: none;
  max-width: 80vh;
  position: relative;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe-slide img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.step-number {
  width: 100%;
  background-color: #3498db;
  color: white;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

.button-view {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

.button-view.single {
  justify-content: flex-end;
}

.carousel-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.carousel-button:hover, .carousel-button:focus {
  background-color: #105395;
}

.carousel-button.reset {
  background-color: #e74c3c;
}

.carousel-button.reset:hover, .carousel-button.reset:focus {
  background-color: #b61200;
}

.default-step {
  display: block;
  visibility: visible;
}

:target ~ .default-step {
  display: none;
  visibility: hidden;
}

#step1:target ~ .step1,
#step2:target ~ .step2,
#step3:target ~ .step3,
#step4:target ~ .step4,
#step5:target ~ .step5 {
  display: block;
  visibility: visible;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: #bdc3c7;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  display: block;
}

.indicator:hover, .indicator:focus {
  background-color: #475556;
}

#step1:target ~ .indicators .indicator[href="#step1"],
#step2:target ~ .indicators .indicator[href="#step2"],
#step3:target ~ .indicators .indicator[href="#step3"],
#step4:target ~ .indicators .indicator[href="#step4"],
#step5:target ~ .indicators .indicator[href="#step5"],
#step1:not(:target):not(:focus-within)
  ~ #step2:not(:target):not(:focus-within)
  ~ #step3:not(:target):not(:focus-within)
  ~ #step4:not(:target):not(:focus-within)
  ~ #step5:not(:target):not(:focus-within)
  ~ .indicators
  .indicator[href="#step1"] {
  background-color: #3498db;
}

hr {
  width: 100%;
  border: none;
  height: 1.5px;
  background-color: lightgray;
}

h1,
p,
figure {
  padding: 0px;
  margin: 0px;
}