* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


header {
    background-color: #dcedff;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    height: 36px;
    position: relative;
}

.navbar {
    background: #cee3f8;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #a0bcd6;
}

.header-img img{
    height: 100%;
    margin-right: 10px;
    width: auto;
}

.user-info {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    border-width: thin;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    background-color: #edeef0; 
  }


.user-section {
    background-color: #edeef0;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.user-section > * {  
    margin-right: 20px; 
}

.user-section > *:last-child {
    margin-right: 0;
}


.search-form {
    display: flex;
    align-items: center;
    width: 200px; /* Adjust width as needed */
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    padding: 2px;
    position: relative;
    margin-right: 4px;
}

.search-input {
    flex-grow: 1;
    height: 22px;
    border: none;
    padding: 0px 5px;
    font-size: 10px;
    outline: none;
    background-color: white;
}

.search-button {
    width: 22px;
    height: 22px;
    border: none;
    margin: 0;
    padding: 0;
    background-size: 20px 20px;
    background-color: #f8f8f8;
    border-left: 1px solid black;
    cursor: pointer;
    text-align: center;
    text-justify: center;
}

.search-button:hover {
    background-color: #e0e0e0;
}

.user-text {
    display: block;
    font-size: 11px;
    color: #336699;
    margin-bottom: 5px;
}

.user-text a {
    color: #336699;
    text-decoration: none;
  }
  
.user-text a:hover {
text-decoration: underline;
}

.user-link {
font-weight: bold;
}

.user-buttons {
display: flex;
justify-content: flex-end;
gap: 5px;
}

.comment-button:hover, .mail-button:hover, .karma-button:hover{
    background-color: #ff9900;
    color: white;
}

.mail-button, .karma-button, .comment-button {
        
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    font-size: 14px;
    padding: 4px 4px;
    height: 18px;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #336699;
}

.mail-button img {
    justify-items: center;
    vertical-align: middle;
    margin-right: 2px;
}

.thread-dialogue-bubble {
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    padding: 5px 3px;
    max-width: 600px;
    height: 100%;
  }
  
.content {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.content h4 {
    color: #462c77;
    font-size: 2vh;
}

.content .link-tag{
    font-size: 1.5vh;
    color: #b5b5b5;
    font-style: normal;
    font-weight: 50;
    margin-left: 6px;
}

.content .link-desc{
    font-weight: 300;
    font-size: 1.7vh;
    color: #9d9d9d;
    overflow-wrap: break-word;
    max-width: 100%;
    display: inline-block;
}
  

.pointer {
    position: absolute;
    width: 20px;
    height: 20px;   
    background-color: #f6f6f6;
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    bottom: -11px;
    right: 15px;
    transform: rotate(45deg);
}

.vote-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 8px 10px;
    margin-top: 5px;
}

.post-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 5px;
    width: 100%;
    }

.vote-container {
    display: flex;
    align-items: center;
    margin: 0;
}
  
.score-container {
    display: flex;
    align-items: baseline;
    color: #666;
}
  
.score {
    font-size: 24px;
    font-weight: bold;
    color: #9a9a9a;
    margin-right: 5px;
}

.points {
    font-size: 14px;
    margin-right: 5px;

}

.percentage {
    font-size: 13px;
    color: #9a9a9a;
}

.votes-container {
    text-align: left;    
    margin-left: 8px;
}

.upvotes {
    color: #eb0d0d;
    font-size: 13px;
    margin-bottom: 2px;
}

.downvotes {
    color: #3368b4;
    font-size: 13px;
}

.metadata-container {
    text-align: right;
    vertical-align: baseline;
    color: #888;
    font-size: 12px;
}

.submission-date {
    margin-bottom: 2px;
}

.comments-sort {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.comments {
    color: #336699;
    font-weight: bold;
}

.sort-by {
    color: #888;
    font-weight: bold;
}





